.pomodoro, .pomodoro-start, .pomodoro-working {
	width: 400px;
	height: 400px;
}

.pomodoro-start, .pomodoro-working {
	padding: 75px 50px 100px 50px;
}

.pomodoro {
	position: absolute;
	overflow: hidden;
	margin: -200px 0 0 -200px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
}

#working-minutes, #rest-minutes {
	height: 72px;
	width: 72px;
	font-size: 1.5em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
}

#working-minutes:focus, #rest-minutes:focus {
	outline: none;
}

.time-chooser {
	width: 72px;
	display: inline-block;
	text-align: center;
}

.time-chooser:first-child {
	margin-left: 76px;
}

.pomodoro-title {
	margin-top: 0;
	font-size: 2em;
	text-align: center;
	opacity: 0.5;
}

.time {
	font-size: 4em;
	text-align: center;
	margin: auto;
	width: 3em;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	border: 1px solid black;
}

.red {
	background-color: #E91E63;
}

.red .button {
	background-color: #6F253F;
	color: black;
}

.red .button:hover {
	color: #E91E63;
}

.green {
	background-color: #28B53A;
}

.green .button {
	background-color: #98F927; 
}

.green .button:hover {
	color: #28B53A; 
}

.button {
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	padding-top: 1.6em;
	border-radius: 50%;
	color: black;
	box-shadow: 0 4px 6px black;
	margin: 5px;
	font-size: 1em;
}

.button:hover {
	cursor: pointer;
}

.button:active {
	transform: translateY(4px);
	box-shadow: none;
}

#stop {
	margin-left: 24px;
}

#start {
	display: block;
	margin: 48px auto;
	clear: both;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

footer p {
	float: right;
}
