.pomodoro, .pomodoro-start, .pomodoro-working {
	width: 400px;
	height: 400px;
}

.pomodoro-start, .pomodoro-working {
	padding: 100px 50px;
}

.pomodoro {
	position: absolute;
	overflow: hidden;
	margin: -200px 0 0 -200px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #E91E63;
}

.pomodoro-title {
	margin-top: 0;
}

.time {
	font-size: 4em;
	text-align: center;
	margin: auto;
	width: 3em;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	border: 1px solid black;
}

.button {
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	padding-top: 1.6em;
	border-radius: 50%;
	background-color: #98F927;
	color: #000;
	box-shadow: 0 2px 4px black;
	margin: 5px;
	font-size: 1em;
}

.button:hover {
	cursor: pointer;
	color: #E91E63;
}

.button:active {
	transform: translateY(2px);
	box-shadow: none;
}

#stop {
	margin-left: 22px;
}

#start {
	display: block;
	margin: 5px auto;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

footer p {
	float: right;
}
